h1 {
    color: white;
    text-align: center;
}

body {
}

.jumbotron {
/*   background: rgb(54, 54, 54);  This is for ie8 and below 
   background: rgba(54, 54, 54, 0.3); */
   background-color: transparent;
   text-align: center;
}

.jumbotron h1 {
	color: #FFFFFF;
	text-shadow: gray 0.0em 0.0em 0.1em !important;
}

.jumbotron p {
	color: #FFFFFF;
	text-shadow: gray 0.0em 0.0em 0.2em !important;
}

/*p {
	color: white;
	text-align: center;
}*/

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.navbar {
	background rgb(106,158,161);
}

.well p {
	color: gray;
	text-align: center;
}

