

.flex {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

body { 
	padding-bottom: 70px; 
    background-color: #eee;
}

.long-link {
/*    table-layout: fixed;*/
    word-wrap: break-word;
}

.login-form {
	max-width: 10px;
}
