{% extends "base.html" %}
{% load widget_tweaks %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron">
	<div class="bs-docs-header" id="content" tabindex="-1">
	  <div class="container">
	  	<div class="row">
		  	<div class="col-md-3">
			  	<img class="img-responsive" src='{% static "img/FiveUpLogo-04.png" %}' width="250" height="237">
		  	</div>
		  	<div class="col-md-8">
		  		<br>
		  	<h1>Send some happy!</h1>
			    <p>Hi! Your friend sent you this link, right? Well, fill out the form, and then at some point in the future your friend will get your happy message! Like magic. <b>With happy sprinkles.</b> Go you.</p>
		    </div>
	    </div>

	  </div>
	</div>

	<div class="container">
		<!-- <div class="container"> -->
			<div class="well">
				<form id="add_message_form" method="post" action=""
						    enctype="multipart/form-data" role="form">

				    {% csrf_token %}
				    <div class="form-group">
					    <label>Your name:</label>
					    {{ form.sender_name|add_class:"form-control" }}
					</div>
				    <div class="form-group">
					    <label for="exampleInputEmail1">Your amazing message:</label>
					    {{ form.message_text|add_class:"form-control" }}
					</div>
				    <!--{{ profile_form.as_p }} -->

				    <!-- Provide a button to click to submit the form. -->
					    <input type="submit" class="btn btn-default" name="submit" value="Add it!" />
					</div>
				</form>
			</div>
		<!-- </div> -->
	</div>
</div>
{% endblock %}
