{% load staticfiles %}
{% load widget_tweaks %}
<html>
  <head>
    <title>FiveUp: Happiness Five Texts at a Time</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/parsley.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- <link rel="stylesheet" href="{% static 'css/fiveup.css' %}"> -->

    <!-- /*        
    <style type="text/css">
        .navbar {
            background-color: rgb(106,158,161);
        }
        .navbar-inverse .navbar-brand, .navbar-brand:hover {
            color: white;
        }
    </style>*/ -->

    {% block styles %}
    {% endblock %}

    {% block js %}
    {% endblock %}
  </head>

  <body>
    {% if user.is_authenticated %}
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">FiveUp: Spreading Happy</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right" action="/logoutuser/" method="post">
              {% csrf_token %}
              <!-- <div class="form-group">
                <input type="text" name="username" placeholder="Email" class="form-control">
              </div>
              <div class="form-group">
                <input type="password" name="password" placeholder="Password" class="form-control">
              </div> -->
              <button type="submit" class="btn btn-success">Sign out</button>
            </form>
          </div><!--/.navbar-collapse -->
        </div>
      </nav>
    {% else %}
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">FiveUp: Spreading Happy</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right" action="/loginuser/" method="post">
              {% csrf_token %}
              <div class="form-group">
                <input type="text" name="username" placeholder="Email" class="form-control">
              </div>
              <div class="form-group">
                <input type="password" name="password" placeholder="Password" class="form-control">
              </div>
              <button type="submit" class="btn btn-success">Sign in</button>
            </form>
          </div><!--/.navbar-collapse -->
        </div>
      </nav>
    {% endif %}
    {% block content %}
    {% endblock %}

  <!-- <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"/> -->
  </body>
</html>
