{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}


<div class="jumbotron">
    <div class="container" align="center">
        <br>
        <img class="img-responsive" src='{% static "img/FiveUpLogo-04.png" %}' width="450" height="428">
        <p>We're spreading happy, five texts at a time. <br>Sign up and get a little happy.</p>
        <br>
        <br>
        <br>
        <br>
{% if user.is_authenticated %}

{% else %}
        <div class="row">
            <div class="col-md-12">
                <h1>How it works</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img src='{% static "img/sadface.png" %}' width="50%">
                <p><b>Sometimes life has sad things.</b> Like spiders, and splinters, and things that are sticky.<p>
            </div>
            <div class="col-md-4">
                <img src='{% static "img/pitchmessage.png" %}' width="50%">
                <p><b>We have happy messages</b> that are awesome, and not sad at all.<p>
            </div>
            <div class="col-md-4">
                <img src='{% static "img/sendmessage.png" %}' width="100%">
                <p><b>We use magic and technology</b> to send you happy messages on your phone.<p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-8 margin-top-30">
                <h2>Then you're not so sad anymore. Hooray!</h2>
                <img src='{% static "img/happyface.png" %}' width="50%">
            </div>


        <a name='signup'></a>
        <div class="row">
           <div class="col-md-offset-3 col-md-6 margin-top-30">
                <h1>Let's sign up<br>
                <small>It'll be awesome.</small><h1>
            </div>
        </div>
        <div class="form-group">
            <form data-parsley-validate method="post" action="/register/">

                    {% csrf_token %}
                    <div class="container">
                    <div class="row">
                        <div class="form-group col-md-4" id="id_nameDiv">
                            <label for="id_name">Your name:</label>
                            {{ form.name|add_class:"form-control required"}}
                        </div>
                        <div class="form-group col-md-4" id="emailDiv">
                            <label>Your email address:</label>
                            {{ form.email|add_class:"form-control required"|attr:"data-parsley-type:email" }}
                        </div>
                        <div class="form-group col-md-4" id="phoneDiv">
                            <label>Your phone number:</label>
                            {{ form.phone_number|add_class:"form-control required" }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4" id="carrierDiv">
                            <label>Who provides your phone service?</label>
                            {{ form.carrier|add_class:"form-control required" }}
                        </div>
                        <div class="form-group col-md-4" id="zoneDiv">
                            <label>What time zone are you in?</label>
                            {{ form.user_timezone|add_class:"form-control required" }}
                        </div>
                        <div class="form-group col-md-4" id="passDiv">
                            <label>Your super secret password:</label>
                            {{ form.password|add_class:"form-control required"|attr:"type:password" }}
                        </div>
                    </div>
                    <div>
                        <p class="help-block pull-left text-danger hide" id="form-error">&nbsp; The form is not valid. </p>
                    </div>
                    <div class="row">
                        <div class="col-xs-12" align="center">
                            <button type="submit" class="btn btn-default btn-success">Do it!</button>
                            <button class="btn btn-default">Cancel</button>
                        </div>
                    </div>
                    <div clas="row">
                        <div class="col-xs-12" align="center">
                            <br><br>
                            <small>The FiveUp service is FREE, though message and data rates <br>
                                from your phone carrier may apply. <br>
                                Make sure you know about your texting and data plan. <br>
                                Expensive messages are not happy.</small>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        {% endif %}
    </div> <!-- container -->
</div> <!-- Jumbotron -->

{% endblock %}



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
