{% extends "base.html" %}
{% load staticfiles %}

{% block styles %}
<div class="site-wrapper">

	<style>
		body {
			background: url('{% static "img/grasses_bokeh.jpg" %}') no-repeat center center fixed;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}
	</style>

{% endblock %}

{% block content %}

	<div class="jumbotron">
		<div class="container">
		  <img src='{% static "img/FiveUpLogo-05.png" %}' width="450" height="428">
		  <p>We're spreading happy, five texts at a time. <br>Keep scrolling to find out how, sign up, and get a little happy.</p>
		</div>
	</div>

</div>
{% endblock %}
