{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div style="background-color:#004256">
	<div class="container">
		<div class="row">
			<div class="col-md-6 pull-left">
				<img src="" class="img-responsive">
			</div>
			<div class="col-md-6 pull-right">
				<!-- <div class="col-md-6" style="text-color:gray;"> -->
				<h1>Get Some Pals Contributing!</h1>
				<p>Our treasure trove of messages are spectacular, for sure, but there's nothing like a special message from a good friend to pep you up.</p>
				<p>These handy-dandy sharing tools let you invite as many people as you'd like to dump all their warm and fuzzies into your queue. Then on some unannounced time in the future—bam!—a bit o' happy's comin' at ya.</p>

				<div class="well-container">
					<div class='well'>
						<p> Note: replace with generated contrib link </p>
					</div>
				</div>

			</div>
		</div>
			<!-- <div class="col-md-6" style="vertical-align:middle"> -->
		<div class="row">
<!-- 			<div class="well-container">
				<div class='well'>
					<p> Note: replace with generated contrib link </p>
				</div>
			</div> -->
		</div>
	</div>
</div>	

{% endblock %}