{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron">
	<div class="bs-docs-header" id="content" tabindex="-1">
	  <div class="container">
	  	<div class="row">
		  	<div class="col-md-3">
			  	<img src='{% static "img/FiveUpLogo-04.png" %}' width="250" height="237">
		  	</div>
		  	<div class="col-md-8">
		  		<br>
		  	<h1>Great message!</h1>
			    <p>Want to see some unicorns? <a href="https://duckduckgo.com/?t=ffab&q=unicorns&atb=v153-1&ia=images&iax=images" target="blank">Blamzo.</a></p>
			    {% if not user.is_authenticated %}
			    <p>Want to sign up and get some happy yourself? <a href='/'>This link</a> is for you.</p>
			    {% endif %}
		    </div>
	    </div>

	  </div>
	</div>


{% endblock %}
