{% extends "base.html" %}
{% load widget_tweaks %}
{% load staticfiles %}

{% block content %}

<div class="container">
<form id="sign_up_form" method="post" action=""
		    enctype="multipart/form-data" role="form">

    {% csrf_token %}
    <div class="form-group">
	    <label>Your name:</label>
	    {{ form.name|add_class:"form-control" }}
	</div>
    <div class="form-group">
	    <label>Your email address:</label>
	    {{ form.email|add_class:"form-control" }}
	</div>
	<div class="form-group">
	    <label>Your phone number:</label>
	    {{ form.phone_number|add_class:"form-control" }}
	</div>
	<div class="form-group">
	    <label>Who provides your phone service?</label>
	    {{ form.carrier|add_class:"form-control" }}
	</div>
	<div class="form-group">
	    <label>What time zone are you in?</label>
	    {{ form.user_timezone|add_class:"form-control" }}
	</div>
	<div class="form-group">
	    <label>Your super-secret password:</label>
	    {{ form.password|add_class:"form-control" }}
	</div>

    <!-- Provide a button to click to submit the form. -->
	    <input type="submit" class="btn btn-default" name="submit" value="Sign me up!" />
	</div>
</form>

</div>
{% endblock %}