{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block js %}

{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<div class="jumbotron" align="center">
	<br><br>
	<h1>Hi {{ user.name|capfirst }}. <small>You're amazing.</small>
</div>

<div class="container">
    <div class="row">
	    <div class="col-md-6" align="center">
	        <img class="img-responsive" src='{% static "img/MoreHappy-01.png" %}'>
	    </div>
	    <div class="col-md-6">
	        <h3>Want some more happy?</h3>
	        <p>Have your friends send you happy messages at a mystery time in the future!
        	Or send YOURSELF a message that you're an awesome person full of pizazz!
        	If that sounds awesome, click that neato link down there. Or send it to a friend. Or maybe send it to your mom if you have a super rad mom.</p>
	        <p>Love the link. Be. the. link. </p>

	        <div class="well long-link">
	        	<p><b><a href="/new/{{ user.uuid }}">{{ request.META.HTTP_HOST }}/new/{{ user.uuid }}</a></b></p>
	        </div>
        	<hr>

    <div class="row">
    	<div class="col-md-12">
	    	<h3>Or get social!</h3>
	        <p>Click these fancy icons to share your link with your internet friendsies.</p>
	    	<div class="col-xs-2">
		        <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.META.HTTP_HOST }}/new/{{ user.uuid }}"
			    onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
			    <img class="img-responsive" src='{% static "img/facebook.png" %}'></a> 
			</div>
			<div class="col-xs-2">
				<a class="share-twitter" href="https://twitter.com/intent/tweet?text=Send me some happy!&url=https%3A%2F%2F{% filter urlencode %}{{ request.META.HTTP_HOST }}{% endfilter %}"
			    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
			    <img class="img-responsive" src='{% static "img/twitter.png" %}'></a>
		    </div>
			<div class="col-xs-2">
	    		<a href="https://plus.google.com/share?url={{ request.META.HTTP_HOST }}/new/{{ user.uuid }}" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
			    <img class="img-responsive" src='{% static "img/googleplus.png" %}'></a>
		    </div>
	    </div>
    </div>
        	<hr>
</div>	

<div class="row"><hr></div>

<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title">Your Groovy Account Stuff   <a href="{% url "home" %}changeprofile/{{ user.uuid }}" class="btn btn-default" role="button"><small>Edit</small></a> </h2>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-2"><p><b>Name</b></p></div>
				<div class="col-md-4 "><p align="left">{{ user.name }}</p></div>
				<div class="col-md-2"><p><b>Email</b></p></div>
				<div class="col-md-4"><p align="left">{{ user.email }}</p></div>
			</div>
			<div class="row">
				<div class="col-md-2"><p><b>Phone Number</b></p></div>
				<div class="col-md-4 "><p align="left">{{ user.phone_number }}</p></div>
				<div class="col-md-2"><p><b>Mobile Carrier</b></p></div>
				<div class="col-md-4"><p align="left">{{ user.carrier }}</p></div>
			</div>
			<div class="row">
				<div class="col-md-2"><p><b>Active?</b></p></div>
				<div class="col-md-4 ">
					{% if user.is_active %}
						<font color="green">Yep! I'm getting messages!<p>
					{% else %}
						<font color="orange">No messages for me right now.</p>
					{% endif %}
				</div>
			</div>
			<div class="row">
				<div class="col-md-4"><h2><a href="/password_change" class="btn btn-default" role="button"><small>Change password</small></a></h2></div>
			</div>
		</div>
	</div>
</div>

{% else %}
<div class="jumbotron" align="center">
	<div class="row">
		<div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-sm-offset-4 col-sm-4 col-xs-offset-1 col-xs-10">
		    <h1>Hi there, pumpkin. <small>Log your little gourd in.</small></h1><br><br>
		    <div class="col-xs-12" align="center">
				<form class="form-horizontal" action="/login/" method="post">
					{% csrf_token %}
					{{ form.non_field_errors }}
                        <div class="form-group" id="email">
                            <label>Email schmemail:</label>
			            	{{ form.username.errors }}
                            {{ form.username|add_class:"form-control required"|attr:"data-parsley-type:email" }}
						</div>
						</br>
                        <div class="form-group" id="passDiv">
                            <label>Your pretty password:</label>
                            {{ form.password.errors }}
                            {{ form.password|add_class:"form-control required"|attr:"type:password" }}
                        </div>
						</br>
			            <div class="form-group">
							<div class="col-md-offset-5 col-md-1">
								<button type="submit" class="btn btn-default">Do it. Do it now!</button>
							</div>
						</div>
				</form>
				<small>or click <a href="/password_reset">here</a> if your password has wondered out 
						of your head to the land of lost passwords.</small>
				</div>


<!-- 				<div class="form-group">
				<form class="form-horizontal" action="/login/" method="post">
						{% csrf_token %}
						{{ form.non_field_errors }}
						<div class="form-group row">
							<div class="col-xs-6 pull-left">
				                <label for="id_name" class="control-label">Email shmemail:</label>
			                </div>
			                <div class="col-md-6">
			            	{{ form.username.errors }}
			                {{ form.username|add_class:"form-control required"|attr:"type:email"}}
				            </div>
			            </div>
		            </div>
		            <div class="form-group row">
		                <label class="control-label">Pretty password:</label>
		                <div class="col-md-4">
		            	{{ form.password.errors }}
		                {{ form.password|add_class:"form-control required"|attr:"type:password" }}
			            </div>
		            </div>
		            <div class="form-group">
						<div class="col-md-offset-5 col-md-1">
						<button type="submit" class="btn btn-default">Do it. Do it now!</button>
						</div>
					</div>
					</form>
					<small>or click <a href="/password_reset">here</a> if your password has wondered out 
						of your head to the land of lost passwords.</small>
				</div> -->
			</div>	
		</div>
	</div>
</div><!--/.jumbotron -->
{% endif %}


{% endblock %}

