{% extends "base.html" %}
{% load static %}

{% block js %}

{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<div class="jumbotron" align="center">
	<br>
	<br>
	  <h1>Hi {{ user.name|capfirst }}. <small>You're amazing.</small> 
	
</div>
<div class="container">
	<h2 align="center">And now time for a message from your friends...</h2>
	<p class="lead">Our treasure trove of messages are spectacular, for sure, but there's nothing like a special message from a good friend to pep you up. Copy this handy-dandy url to invite as many people as you'd like to dump all their warm and fuzzies into your queue. Then on some unannounced time in the future—bam!—a bit o' happy's comin' at ya.</p>
</div>
<div class="container">
	<div class="well-container">
		<div class='well' align="center">
		    <!-- <a href="http://127.0.0.1:8000/new/{{ user.uuid }}"><h1>Share Me</h1></a> -->
		    <p><a href="{% url "home" %}new/{{ user.uuid }}">Share this</a></p>
		    <a href="http://twitter.com/share?text=An%20Awesome%20Link&url=google.com">
			Share This on Twitter</a>

		</div>
	</div>
</div>
<hr>
<div class="container" align="center">
	<div class="panel panel-default" align="left">
		<div class="panel-heading">
			<h3 class="panel-title">Your Groovy Account Stuff</h3>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-2"><p><b>Name</b></p></div>
				<div class="col-md-4 "><p align="left">{{ user.name }}</p></div>
				<div class="col-md-2"><p><b>Email</b></p></div>
				<div class="col-md-4"><p align="left">{{ user.email }}</p></div>
			</div>
			<div class="row">
				<div class="col-md-2"><p><b>Phone Number</b></p></div>
				<div class="col-md-4 "><p align="left">{{ user.phone_number }}</p></div>
				<div class="col-md-2"><p><b>Mobile Carrier</b></p></div>
				<div class="col-md-4"><p align="left">{{ user.carrier }}</p></div>
			</div>
			<div class="row">
				<div class="col-md-4"><p><a href="/password_change">Change your password</a></p></div>
		</div>
	</div>

{% else %}
<div class="jumbotron" align="center">
    <h1>Whoopsie daisy.</h1>
    <p>You're not logged in. Try again, or click <a href="/password_reset">here</a> if your password has wondered out 
    	of your head to the land of lost passwords.</p>
</div>
{% endif %}


{% endblock %}

