{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}

<div class="container" align="center">
	<br>
	<br>
	<br>
	<br>
	<div class="well" align="center">
		<form class="form-horizontal" action="" method="post">
			{% csrf_token %}
			<div class="form-group row">
                <label for="id_name" class="col-sm-offset-2 col-xs-3 col-sm-3 col-md-3 control-label">Old, boring password:</label>
                <div class="col-xs-4 col-sm-4 col-md-4">
                {{ form.old_password|add_class:"form-control required"|attr:"type:password"}}
	            </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-offset-2 col-sm-3 control-label">New, amazing password:</label>
                <div class="col-sm-4">
                {{ form.new_password1|add_class:"form-control required"|attr:"type:password" }}
	            </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-offset-2 col-sm-3 control-label">New, amazing one one more time:</label>
                <div class="col-sm-4">
                {{ form.new_password2|add_class:"form-control required"|attr:"type:password" }}
                {{ form.password.errors }}
	            </div>
            </div>
            <div class="form-group">
				<div class="col-sm-offset-5 col-sm-1">
				<button type="submit" class="btn btn-default">Do it. Do it now!</button>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}